<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Francois+One&family=Martian+Mono:wdth,wght@75..112.5,100..800&display=swap"
  rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
<app-header scroll="{{this.scrollPosition}}"></app-header>
<div>
  <h1> REGISTRO </h1>

  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" placeholder="Nombre">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Apellido</mat-label>
    <input matInput type="text" placeholder="Apellido">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Correo</mat-label>
    <input matInput type="email" placeholder="Correo">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" placeholder="Contraseña">
  </mat-form-field>

  <button mat-stroked-button (click)="registro()">SIGN UP</button>
</div>
