<app-header scroll="{{this.scrollPosition}}"></app-header>
<div class="h-screen flex flex-col body">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Francois+One&family=Martian+Mono:wdth,wght@75..112.5,100..800&display=swap"
    rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">

  <main class="flex-grow">
    <!-- Contenedor de la landing -->
    <div class="container mx-auto mt-10">
      <div class="flex items-center shrink-0 slash ">
        <img src="https://i.pinimg.com/564x/03/82/78/038278746fdf994453b4090e6348b876.jpg" alt="Im agen" class="ft none">
        <div class="ml-10">
          <h1 class="text-4xl font-bold title">'POWER LEGENDS '</h1>
          <p class="mt-4 text-lg descrip">UNA VEZ RANGER , SIEMPRE RANGER</p>
        </div>
      </div>
      <!-- Sección de carrusel -->
      <div class="w-10/12 pr-8">
        <div class="mt-4 text">
          <p>¡Bienvenido a Power Legends, tu destino definitivo para todo lo relacionado con la
            icónica franquicia de Power Rangers!
            Sumérgete en un universo lleno de acción, aventura y emociÓn. Desde la primera generación
            de Rangers hasta las nuevas y emocionantes generaciones, 'Power Legends' estu guía definitiva
            en el emocionante mundo de Power Rangers. ¡Únete a nosotros mientras celebramos el legado,
            la pasión y el espíritu de los Power Rangers entodas sus formas!
          </p>
        </div>
      </div>
      <!-- Carrusel -->

      <div id="carouselExample" class="carousel slide">
        <div class="relative w-full flex gap-6 snap-x overflow-x-auto pb-14">
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/0b/cd/04/0bcd044be99b9122acea195eb4605377.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 1">
          </div>
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/73/21/7a/73217a061a6ab27d4a57e619895bdfae.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 2">
          </div>
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/c1/b1/00/c1b100625d6ab90e54b12250af9771e3.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 3">
          </div>
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/94/40/fe/9440fe27a86f5ae512b33b0cf3e2d350.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 4">
          </div>
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/f0/79/9d/f0799dbd0428b00d2e863a23bad04045.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 5">
          </div>
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/04/08/7e/04087e2a23735cb967317bc8fcc36ce6.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 6">
          </div>
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/1b/2e/b2/1b2eb22b8d680853db80262039a1a257.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 7">
          </div>
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/d7/e6/3c/d7e63c665fc7eddc7e6d6e9abb1dc760.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 8">
          </div>
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/c4/e1/56/c4e1565035245cc4bb61681e6b73c8f9.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 9">
          </div>
          <div class="snap-center shrink-0">
            <img src="https://i.pinimg.com/564x/20/2e/dc/202edc19eeabee9a2728df4225be7f8d.jpg" class="object-cover shrink-0 w-80 h-40 rounded-lg shadow-xl bg-white" alt="Imagen 10">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </main>
</div>
